* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h1::first-letter {
  font-style: normal;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
a {
  transition: 0.3s;
  color: #1098ad;
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: brown;
  text-decoration: underline;
}
p {
  line-height: 1.5;
  font-size: 22px;
  margin-bottom: 15px;
}
body {
  position: relative;
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}
nav {
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  gap: 30px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
li a {
  font-weight: bold;
  font-size: 16px;
}
button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
footer {
  grid-column: 1/-1;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
  width: 1200px;
}
.main-header {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 20px 40px;
}
.post-header {
  margin-bottom: 40px;
}
.post-h::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}
.author-box {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  margin-bottom: 15px;
}
.author {
  font-style: italic;
  font-size: 18px;
}
.post-img {
  width: 100%;
  height: auto;
}
.copyright {
  font-size: 16px;
}
.related {
  font-size: 20px;
  margin-left: 0;
}
.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
